.templateWrapper{
    width:95%;
    height: fit-content;
    background: white;
    margin-left:auto;
    margin-right:auto;
    margin-bottom:30px;

}
body{
    background: lightblue;
}
.loader{
    text-align: center;
}